#!/usr/bin/make -f

# AUKS autotools do not support ./configure --sysconfdir=/etc/auks parameter.
# Upstream only supports setting SYSCONDIR in CFLAGS, as found in upstream
# auks.spec. With compat >= 9, the right way to extend CFLAGS is the following:
export DEB_CFLAGS_MAINT_APPEND=-DSYSCONFDIR=\"/etc/auks\"

%:
	dh ${@} --with autoreconf --with systemd

override_dh_auto_configure:
	dh_auto_configure -- --with-slurm

override_dh_auto_install:
	dh_auto_install
	
	# Install these files manually Makefile does not take care of them
	install -D -m 644 etc/auksd.service $(CURDIR)/debian/tmp/lib/systemd/system/auksd.service
	install -D -m 644 etc/auksdrenewer.service $(CURDIR)/debian/tmp/lib/systemd/system/auksdrenewer.service
	install -D -m 644 etc/aukspriv.service $(CURDIR)/debian/tmp/lib/systemd/system/aukspriv.service
	install -D -m 644 etc/auks.acl.example $(CURDIR)/debian/etc/auks/auks.acl
	install -D -m 644 etc/auks.conf.example $(CURDIR)/debian/etc/auks/auks.conf

override_dh_fixperms:
	dh_fixperms
	# restrict access to AUKS cache dir to root by default, mimicking auks.spec
	chmod 0700 $(CURDIR)/debian/aukspriv/var/cache/auks
